@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

:root {
  /*font-color*/
  --texts-texts-basic: #00000;
  --texts-second: #33333;
  --texts-background-deafault: #FFFFFF;

  /*background-color*/
  --icons-text: #7DB54F;
  --buttons-basic: #756157;
  --background-basic-third: #82B3D3;
  --background-second-first: rgba(131, 179, 211, 0.12);
  --background-second-second: rgba(131, 179, 211, 0.20);
  --the-background: #FAEBD7;
  --forms-elements-second: #F2F2F2;
  --buttons-select: #7DB54F;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  background-color: var(--forms-elements-second);
}

/*header-section in index.html*/

.page-header {
  width: 1200px;
  min-height: 64px;
  margin: 0 auto;
  background-color: var(--texts-background-deafault);
}

.navigation {
  display: flex;
  margin: 0;
}

.city-logo {
  min-width: 140px;
  min-height: 70px;
  margin-left: 70px;
}

.navigation-list {
  min-width: 339px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.navigation-item {
  padding: 0;
  margin: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--texts-texts-basic);
}

.navigation-user {
  min-width: 268px;
  margin: 0 70px 0 auto;
  padding: 0;
}

.navigation-item-icon {
  padding: 0;
  margin: 0;
}

.favorites-counter {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: var(--texts-background-deafault);
  background-color: var(--icons-text);
}

.navigation-button-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-basic);
}

/*main-container*/

.homepage-blog {
  width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  background-color: var(--texts-background-deafault);
}

/*picture-section in index.html*/

.picture {
  display: flex;
  background-color: var(--the-background);
  background-image: url("../images/index-page/picture-section/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 485px;
}

.header-picture-rocks {
  display: block;
  margin: auto;

}

/*first-section-paragraphs in index.html*/

.exclamation-paragraphs {
  text-align: center;
  min-height: 261px;
  padding: 0;
}

.semantic-emphasis {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--texts-texts-basic);
}

.exclamation-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
}

/*advantages-section in index.html*/

.advantages {
  text-align: center;
  min-height: 1155px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.turquoise-background-color {
  display: flex;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-third);
  width: 1200px;
}

.light-turquoise-background-color {
  background-color: var(--background-second-first);
}

.meddle-turquoise-background-color {
  background-color: var(--background-second-second);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--texts-texts-basic);
}

.advantages-description {
  color: var(--texts-second);
}

/*section-offer*/

.offer {
  text-align: center;
  min-height: 649px;
}

/*second-section-paragraphs in index.html*/

.exclamation-paragraphs-second {
  text-align: center;
  width: 1200px;
  min-height: 406px;
}

.hotel-search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-basic);
}

/*subscribe-section in index.html*/

.subscribe {
  background-color: var(--the-background);
  background-image: url("../images/index-page/subscribe-section/photo-subscribe.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--texts-background-deafault);
  width: 1200px;
  min-height: 415px;
}

.subscribe-form {
  flex-direction: column;
}

.submit {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-3);
  background-size: 100%;
}

/*footer-section in index.html*/

.page-footer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background-color: var(--texts-background-deafault);
}

.footer-container {
  display: flex;
  width: 1060px;
  min-height: 50px;
  margin: 40px auto 30px;
}

.footer-social {
  min-width: 141px;
  min-height: 40px;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  width: 141px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  min-width: 47px;
  min-height: 40px;
}

.button {
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.footer-contacts {
  width: 720px;
  min-height: 50px;
  padding-left: 195px;
  padding-right: 194px;
}

.contacts-container {
  min-width: 331px;
  min-height: 40px;
}

.phone-for-communication {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.footer-logo {
  min-width: 115px;
  min-height: 33px;
  margin-left: auto;
}

/*filter-section in catalog.html*/

.filter-catalog {
  background-color: var(--the-background);
  background-image: url("../images/catalog-page/inner-header/header-image.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--texts-background-deafault);
  min-height: 412px;
}

.inner-header {
  display: inline-block;
  width: 1060px;
  min-height: 107px;
  margin: 0 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.bread-crumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.path-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--texts-background-deafault);
}

.filter {
  width: 1060px;
  min-height: 157px;
  margin: 0 70px;
}

.form-filter {
  display: flex;
  flex-direction: row;
}

.catalog-filter-group {
  width: 150px;
  min-height: 157px;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.group-button {
  width: 191px;
  min-height: 160px;
  margin-left: auto;
}

.button-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--texts-background-deafault);
  width: 191px;
  height: 36px;
}

.apply-button {
  background-color: var(--background-basic-third);
}

/*sorting-section in catalog.html*/

.sorting-container {
  width: 1060px;
  min-height: 1125px;
  margin: auto;
}

.sorting {
  display: flex;
  min-height: 49px;
}

.counter {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: var(--texts-texts-basic);
  min-width: 338px;
  height: 36px;
}

.select-control {
  color: var(--texts-second);
  width: 292px;
  height: 49px;
  margin-right: 70px;
  margin-left: auto;
}

.button-sort {
  width: 48px;
  height: 48px;
  padding: 0;
}

/*accommodation-section in catalog.html*/

.sorting-accommodation {
  width: 1060px;
  min-height: 896px;
  margin: 40px auto;
}

.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 0;
  padding: 0;
}

.accommodation-item {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
}

.accommodation-container{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 398px;
  margin: 20px 20px;
}

.accommodation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--texts-texts-basic);
}

.description-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--texts-second);
}

.button-control-accommodation {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFF;
  text-decoration: none;
}

.button-details {
  background-color: var(--buttons-basic);
}

.button-favorites {
  background-color: var(--background-basic-3);
}

.rating-score {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--forms-elements-2);
}

.selected {
  background-color: var(--buttons-select);
}

/*pagination-section in catalog.html*/

.pagination-buttons {
  min-height: 60px;
  margin: 0 auto 60px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: var(--background-basic-third);
}

.start-button {
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-second);
}

.dots {
  color: var(--texts-texts-basic);
  background-color: var(--texts-background-deafault);
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: var(--texts-background-deafault);
  text-decoration: none;
}

/*subscription-section in catalog.html*/

.subscription {
  text-align: center;
  height: 415px;
}
